<header>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">The Slash Project </a>
        <h3>{{sub}}</h3>
    </nav>
</header>
<section>
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">NO:</th>
      <th scope="col">Name</th>
      <th scope="col">Roll</th>
      <th scope="col">Marks</th>
    </tr>
  </thead>
  <tbody>
      {{#each result}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.name}}</td>
      <td>{{this.roll}}</td>
      <td>{{this.marks}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

</section>